 <main class="has-background-black m-5">
      <div class="mb-6 has-text-white">
        <h2 class="is-size-1 has-text-centered has-text-weight-bold">
          Welcome to Disc-Jockies!
        </h2>
        <p class="has-text-centered">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <!-- This is the box to get the aside and recent reviews next to each other -->
      <!-- This is the aside to hold Favorite discs and upcoming tournaments -->
      <!-- This is the Favorite discs box -->
      <h3 class="is-size-2 has-text-centered has-text-white mb-6">Featured Discs</h3>
      <div class="tile is-ancestor">
        {{#each discs as |disc|}}
			<div class="tile is-parent">
				<a class="tile is-parent box" href="/discs/{{id}}">
					<div class="card">
						<div class="card-image">
							<figure class="image">
							<img class="" src="./assets/images/{{image}}" style="height: 300px; width: 300px; margin: 0 auto;" alt="Placeholder image">
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-left">
									<figure class="image is-48x48">
									<img src="./assets/images/{{image}}" alt="Disc Name">
									</figure>
								</div>
								<div class="media-content">
									<p class="title is-4">{{discName}}</p>
									<p class="subtitle is-6">{{discBrand}}</p>
								</div>
							</div>

							<div class="content">
							{{description}}
							</div>
							<div class="content">
								<div class="columns is-gapless is-multiline is-mobile">
									<div class="column bd-notification is-primary">
										Speed : {{speed}}
									</div>
									<div class="column bd-notification is-info has-text-centered">
										Glide : {{glide}}
									</div>
									<div class="column bd-notification is-danger has-text-centered">
										Turn: {{turn}}
									</div>
									<div class="column bd-notification is-success has-text-centered">
										Fade: {{fade}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
        {{/each}}
      </div>
		<div class="tile is-ancestor">
			<div class="tile is-parent is-8 column">
				<div class="tile is-child box">
					<p class="title">Recent Reviews</p>
					<div class="content">
					{{#each reviews as |review|}}
						<a href="/discs/{{disc.id}}" class="tile is-parent">
							<div class="tile is-child box has-background-white">
								<h3 class="title">{{disc.brandName}} {{disc.discName}}</h3>
								<textarea class="textarea" readonly>{{comment}}</textarea>
								<h4 class="has-text-right">- posted by {{user.name}} on {{format_date date_created}}</h4>
							</div>
						</a>
					{{/each}}
					</div>
				</div>
			</div>
			<div class="tile is-parent is-4 column">
				<div class="tile is-child box">
					<div class="content">
					<p class="title has-text-centered">Upcoming Tournament</p>
					<p class="subtitle has-text-centered">2021 Orlando PDGA Amateur-Open</p>
					<figure class="image">
						<img
						src="./assets/images/2021pdga-amateur.jpg"
						alt="2021 Orlando PDGA Amateur-Open"
						/>
					</figure>
					</div>
				</div>
			</div>
		</div>
    </main>

      <script src="/js/review.js"></script>