 <main class="has-background-black m-5">
      <div class="mb-6 has-text-white">
        <h2 class="is-size-1 has-text-centered has-text-weight-bold">
          Welcome to Disc-Jockies!
        </h2>
        <p class="has-text-centered">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <!-- This is the box to get the aside and recent reviews next to each other -->
      <!-- This is the aside to hold Favorite discs and upcoming tournaments -->
      <!-- This is the Favorite discs box -->
      <h3 class="is-size-2 has-text-centered has-text-white">Featured Discs</h3>
      <div class="tile is-ancestor">
        {{#each discs as |disc|}}
          <a href="/discs/{{id}}" class="tile is-parent">
            <article class="tile is-child box">
              <!-- Put any content you want -->
              <figure class="image is-256x256">
                <img
                  src="./assets/images/{{image}}"
                  alt="Pic of the disc"
                />
              </figure>
              <div class="tile-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">{{discName}}</p>
                    <p class="subtitle is-6">{{discBrand}}</p>
                  </div>
                </div>
                <div class="content">
                  <p>Desciption:</p>
                  <p>{{description}}</p>
                  <p>Specs:</p>
                  <div class="is-flex is-flex-direction-row">
                    <div class="is-flex is-flex-direction-column m-1">
                      <p>Speed</p>
                      <p>{{speed}}</p>
                    </div>
                    <div class="is-flex is-flex-direction-column m-1">
                      <p>Glide</p>
                      <p>{{glide}}</p>
                    </div>
                    <div class="is-flex is-flex-direction-column m-1">
                      <p>Turn</p>
                      <p>{{turn}}</p>
                    </div>
                    <div class="is-flex is-flex-direction-column m-1">
                      <p>Fade</p>
                      <p>{{fade}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </a>
        {{/each}}
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent is-8 has-background-black">
          <div class="tile is-child box has-background-link">
            <p class="title">Reviews</p>
            <div class="content">
              {{#each allReviews as |review|}}
                <div class="tile is-child box has-background-white">
                  <h3 class="title">{{disc.brandName}} {{disc.discName}}</h3>
                  <textarea class="textarea" readonly>{{comment}}</textarea>
                  <h4 class="has-text-right">- posted by {{user.name}} on {{format_date date_created}}</h4>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <div class="content">
              <p class="title has-text-centered">Upcoming Tournament</p>
              <p class="subtitle has-text-centered">2021 Orlando PDGA Amateur-Open</p>
              <figure class="image is-4by3">
                <img
                  src="./assets/images/2021pdga-amateur.jpg"
                  alt="2021 Orlando PDGA Amateur-Open"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </main>

      <footer class="footer has-background-primary">
        <div class="content has-text-centered had-text-black">
          <p>
            <strong>Disc-Jockies</strong> by
            <a href="https://github.com/CaseyR1221/Disc-Jockey">The Hyzers</a>.
            The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          </p>
        </div>
      </footer>

      <script src="/js/review.js"></script>