    <main class="section has-text-white m-5">
      <!-- This is the box to get the aside and recent reviews next to each other -->
      <!-- This is the aside to hold Favorite discs and upcoming tournaments -->
      <!-- This is the Favorite discs box -->
      <h1 class="is-size-1 has-text-centered single-disc-name">{{disc.discName}}</h1>

      <!-- This is the row tile -->
      <div class="tile is-ancestor is-flex is-flex-wrap-wrap">
        
        <!-- This is the individual tile -->
        <div class="tile is-parent is-4 has-text-centered">
          <article class="tile is-child box">
            <!-- Put any content you want -->
            <div class="tile-content">
            <div class="media">
              <div class="media-content">
                <h3 class="title is-4">{{disc.brandName}}</h3>
              </div>
            </div>
            <br>
            <div class="content">
              <strong>Desciption:</strong>
              <p>{{disc.description}}</p>
              <strong>Best Conditions:</strong>
              <p>{{disc.bestConditions}}</p>
              <strong>Specs:</strong>
              <div class="is-flex is-flex-direction-row is-justify-content-center">
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Speed</p>
                    <p>{{disc.speed}}</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                      <p>Glide</p>
                      <p>{{disc.glide}}</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                      <p>Turn</p>
                      <p>{{disc.turn}}</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                      <p>Fade</p>
                      <p>{{disc.fade}}</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        
        <div class="tile is-parent is-8">
          <figure class="tile is-child box">
            <!-- Put any content you want -->
            <div class="tile-content">
                <div class="content">
                  <img src="/assets/Images/{{disc.image}}" style="max-height: 1100px; width: 1100px; margin: 0 auto;" alt="Placeholder image">
                </div>
            </div>
          </figure>
        </div>
      </div>

    {{#if logged_in}}
    <div class="tile is-ancestor">
			<div class="tile is-parent box is-flex is-flex-direction-column">
				<div class="tile is-child box">
					<p class="title">Disc Reviews</p>
					<div class="content">
					{{#each reviews as |review|}}
						<div class="tile is-parent">
							<div class="tile is-child box has-background-white">
								<h3 class="title">{{brandName}} {{discName}}</h3>
								<textarea class="textarea" readonly>{{comment}}</textarea>
								<h4 class="has-text-right">- posted by {{user.name}} on {{format_date date_created}}</h4>
							</div>
						</div>
					{{/each}}
					</div>
				</div>

        <div class="tile is-parent box is-flex is-flex-direction-column">
				  <p class="title">Add a Review</p>
          <textarea class="textarea" id="review-body"></textarea>
          <button class="button is-danger" type="click" id="postReview">Post Review</button>
        </div>
			</div>
      
		</div>
    {{/if}}

      

  </main>

  <script src="/js/review.js"></script>
