<!-- This html will need api to render with arrays for the current discs, current tournaments, and the current reviews -->

<main>
<div class="tile is-ancestor is-fullheight-100vh mx-2">
      <div class="tile is-5 is-vertical is-parent has-background-black">
        <div class="tile is-child box is-12 has-background-link">
          <p class="title has-text-centered has-text-primary">New Scorecard</p>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Course Name" id="course-name">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Par" id="course-par">
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Score" id="course-score">
            </p>
          </div>
          <div class="field">
            <a class="control">
              <button class="button is-danger" style="display: block; width: 100%" type="click" id="saveScore">
                Submit
              </button>
            </a>
          </div>
        </div>
        <div class="tile is-child box has-background-link scroll">
          <p class="title has-text-centered has-text-primary">Previous Scorecards</p>
          {{#each scorecards as |scorecard|}}
            <div class="tile is-parent box has-background-white inner-scroll">
							<div class="tile is-child box has-background-link has-text-centered">
								<h3 class="title has-text-primary">{{course_name}}</h3>
                <div class="is-flex is-flex-direction-row">
                  <div class="is-flex is-flex-direction-column p-3">
                    <p>Course Par</p>
                    <p>{{par}}</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-3">
                    <p>Course Score</p>
                    <p>{{my_score}}</p>
                  </div>
                </div>
                <button id="{{id}}" class="button deleteScore">Delete</button>
								<h4 class="has-text-right"> played on {{format_date date_created}}</h4>
							</div>
						</div>
          {{/each}}
        </div>
      </div>

      <div id="right-tile" class="tile is-parent box is-7 has-background-black">
        <div class="tile is-child box has-background-link">
          <p class="title has-text-centered has-text-primary">{{name}}'s Reviews</p>
          {{#each reviews as |review|}}
            <div class="tile is-parent">
							<div class="tile is-child box has-background-white">
								<h3 class="title">{{disc.brandName}} {{disc.discName}}</h3>
								<textarea class="textarea" readonly>{{comment}}</textarea>
								<h4 class="has-text-right">- posted on {{format_date date_created}}</h4>
							</div>
						</div>
          {{/each}}
        </div>
      </div>

    </div>

    <footer class="footer has-background-primary">
      <div class="content has-text-centered">
        <p>
          <strong>Disc-Jockies</strong> by
          <a href="https://github.com/CaseyR1221/Disc-Jockey">The Hyzers</a>.
          The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
</main>

<script src="/js/scorecard.js"></script>